#page-create-point {
    width: 90%;
    max-width: 1100px; /*essa caixa n vai aumentar mais q 110px*/

    margin: 0 auto; /*alinhamento da caixa (pelo lado de fora da caixa)*/

}

#page-create-point header {
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px; /*espaçamento da seta cm o link*/
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px; /*altura da seta*/
}

form {
    background-color: white;
    border-radius: 8px;

    margin: 80px auto;
    padding: 64px; /*preenchimento interno da pagina*/
 
    max-width: 730px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;

    border: 0;
}

form legend {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

form legend h2 {
    font-size: 24px;
}

form legend span {
    font-size: 14px;
    color: var(--title-color);
}

form .field {
    flex: 1; /*para q o campo estique auto*/
    display: flex;
    flex-direction: column; /*seguir todos em coluna*/
    margin-bottom: 24px; /*espaçamento dos campos*/
}

form .field-group {
    display: flex;
}

form input, form select {
    background-color: #f0f0f5;
    border: 0; /*tirar a borda q eh criada auto pelo navegador*/
    padding: 16px 24px; /*aumentar o espacamento interno, 16 nas laterais e 24 d cima a baixo*/
    font-size: 16px; /*tamanho da fonte de dentro do campo*/

    border-radius: 8px;
    /*outline: none; (se quiser tirar a borda qndo campo é selecionado) */
}

form select { /*assim ele perde o estilo de campo select, q fica aparecendo umas setinhas*/
    -webkit-appearance: none; /*navegador chrome*/
    -moz-appearance: none; /*navegador mozilla*/
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field { /*separar os campos q tavam grudados*/
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}

.items-grid {
    display: grid; /*o grid é multidimencional,consigo criar linhas e colunas*/
    grid-template-columns: 1fr 1fr 1fr; /*coloco conforme o numero de colunas quero / 1fr ->  ajusta o tamanho melhor entre*/
    gap: 16px; /*funciona cmo margin, separação de elementos*/
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;
    
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px; /*altura*/
    padding: 32px 24px 16px; /*32-topo / 24-laterais / 16-embaixo*/
    
    display: flex; /*alinhar os elementos de dentro*/
    flex-direction: column; 
    align-items: center;
    justify-content: space-between; /*espaçamento da imagem e a palavra d cada item*/

    text-align: center; /*palavras no centro*/

    cursor: pointer; /*maozinha no cursor qndo passar o mouse*/
}

.items-grid li span { /*ajustes da imagem e palavras*/
    margin-top: 12px;
    flex: 1;

    display: flex;
    align-items: center;
    color: var(--title-color);
}

.items-grid li.selected {
    background-color: #e1faec;
    border: 2px solid #34cb79;
}

items-grid li img, items-grid li span {
    pointer-events: none;
}






